body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(0,0,0,0) !important;
  
  color: var(--text-color) !important;
  transition: all 0.5s ease;
}
:root {
  --table-background-color: 'black';
  --border-radius: clam(12px, 6rem, 30px);
}

.modal-dialog.standard-modal-dialog.modal-dialog-centered>.modal-content {
  border-radius: 1rem;
  overflow: hidden;
}
.modal-content {
  /* background-color: rgba(0,0,0,0); */
  background-clip: inherit !important;
  overflow: hidden !important;
}
.nav.nav-tabs .nav-item .nav-link:not(.active) {
  color: var(--app-primary);
}
/* 
body {
  background-image: radial-gradient(#fff 20%, transparent 20%), radial-gradient(#fff 20%, transparent 20%);
  background-color: #F5F5F5;
  background-position: 0 0, 100px 25px;
  background-size:12px 12px;
} */
html {
  min-height: calc(100% + env(safe-area-inset-top));
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  background-attachment: fixed;
  color: var(--text-color) !important;
  background-position: center;
  background-repeat: repeat-x !important;
  background-size: cover;
  background: var(--background-color) !important;
  transition: all 0.5s ease;
}

/* a {
  color: var(--app-primary) !important;
} */

.alert.alert-dismissible .btn-close {
  padding    : 0;
  top        : 50%;
  margin-top : -8px;
  margin-right : .5rem;
}

.standard-modal {
  backdrop-filter: blur(2px);
}

.alert-dismissible .close {
  padding: .005rem .25rem !important
}

.table-row {
  background: var(--table-background-color);
  transition: all 0.5s ease;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}        
.horizontal-scrollable > .row { 
  overflow-x: auto; 
  white-space: nowrap; 
} 

.horizontal-scrollable > .row > .col-xs-4 { 
  display: inline-block; 
  float: none; 
} 

.arrow {
  border: solid var(--text-color);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.markercluster-map { height: 90vh; }

.leaflet-control-layers-toggle {
  display: none;
}

.dot {
  height           : 200px;
  width            : 200px;
  background-color : var(--app-primary);
  border-radius    : 50%;
  display          : inline-block;
}
